:root {
    --themeGlobal: #0026ff;
}

#joinContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#joinContainer > div {
    display: flex;
    height: 100vh; 
}

#logoContainer img {
    object-fit: cover;
    width: 75vw;
}

#inputContainer {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inputContainer > * {
    width: 80%;
    margin-bottom: 10px;
}

#inputContainer label {
    color: gray;
}

#brand {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom: 30px;
    color: #008000;
}

#createCallBtn, #joinCallBtn {
    background-color: var(--themeGlobal);
    font-weight: bold;
    color: white;
}
button:disabled {
    background-color: var(--themeGlobal) !important;
    opacity: 0.7;
}

.MuiInput-underline:after {
    border-bottom: 2px solid var(--themeGlobal) !important;
}

i, input {
    color: black;
}

hr {
    width: 100%;
}

.home-page-layout {
    background: white;
    display: grid;
    padding: 2rem;
}